@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black text-slate-100;
}

.signin, .signout {
    margin-right: 0px;
    margin-left: auto;
}

.welcome {
    font-size: xx-large;
}

.select-text {
    font-size: x-large;
}
