@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;

body {
    @apply bg-black text-slate-100;
}

.signin, .signout {
    margin-right: 0px;
    margin-left: auto;
}

.container {
    @apply border-x border-b border-slate-400 h-full w-full p-8;
    margin: auto;
    width: 100%;
    height:fit-content;
}

.welcome {
    font-size: xx-large;
}

.select-text {
    font-size: x-large;
}

.subtext {
    font-size: small;
}
